@import "tailwindcss";

:root {
  --background: #fff;
  --foreground: oklch(0.145 0 0);
  --brand-blue: #202c4a;
  --accent: #e9ebef;
  --primary-hover: #1a2438;
  --stroke-light: #0000001a;
  --destructive: #d4183d;
  --input-background: #f3f3f5;
  --muted-foreground: #717182;
  --accent-foreground: #030213;
  --muted: #ececf0;
}

@theme inline {
  --font-outfit: var(--font-outfit);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-blue: var(--brand-blue);
  --color-accent: var(--accent);
  --color-primary-hover: var(--primary-hover);
  --color-stroke-light: var(--stroke-light);
  --color-destructive: var(--destructive);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-input-background: var(--input-background);
  --color-accent-foreground: var(--accent-foreground);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #fff;
        --foreground: oklch(0.145 0 0);
    }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}
